<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is part of HwIms
  ~ Copyright (C) 2019 Penn Mackintosh
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!--suppress AndroidUnknownAttribute coreApp -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.huawei.ims"
    android:sharedUserId="android.uid.phone">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HwImsService"
            android:directBootAware="true"
            android:permission="android.permission.BIND_IMS_SERVICE"
            android:persistent="true">
            <intent-filter>
                <action android:name="android.telephony.ims.ImsService" />
            </intent-filter>
        </service>
    </application>

</manifest>
