<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.hwims"
    android:sharedUserId="android.uid.phone"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:allowClearUserData="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HwImsService"
            android:directBootAware="true"
            android:permission="android.permission.BIND_IMS_SERVICE"
            android:persistent="true">
            <intent-filter>
                <action android:name="android.telephony.ims.ImsService" />
            </intent-filter>
        </service>
    </application>

</manifest>